body {
	color: white;
	background-image: url('../img/back.JPG');
}

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.controls {
    display: block;
    width: 100%;
    overflow: auto;
}

.pull-left {
    float: left;
    overflow: auto;
    text-align: left;
}

.pull-right {
    float: right;
    overflow: auto;
    text-align: right;
}

canvas {
    border: 1px solid black;
}
